USE [master]
GO
/****** Object:  Database [DB]    Script Date: 20/06/2022 02:29:48 ******/
CREATE DATABASE [DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 20/06/2022 02:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cod] [nvarchar](10) NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[descp] [nvarchar](200) NOT NULL,
	[stock] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[articulos] ON 

INSERT [dbo].[articulos] ([id], [cod], [nombre], [descp], [stock]) VALUES (1, N'ART0001', N'Detergente', N'Descripción', 3)
INSERT [dbo].[articulos] ([id], [cod], [nombre], [descp], [stock]) VALUES (2, N'ART0002', N'Comida enlatada', N'Descripción', 4)
INSERT [dbo].[articulos] ([id], [cod], [nombre], [descp], [stock]) VALUES (3, N'ART0003', N'Jabón', N'Descripción', 5)
SET IDENTITY_INSERT [dbo].[articulos] OFF
GO
USE [master]
GO
